<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974529444732-o95vegd9ne0vf4344id126mioso2m1a3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974529444732-o95vegd9ne0vf4344id126mioso2m1a3</string>
	<key>API_KEY</key>
	<string>AIzaSyA8MhRioXrlvEApadM76g5T8aiwh3R2qbA</string>
	<key>GCM_SENDER_ID</key>
	<string>974529444732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doomshell.ezypayroll</string>
	<key>PROJECT_ID</key>
	<string>ezy-payroll-f6596</string>
	<key>STORAGE_BUCKET</key>
	<string>ezy-payroll-f6596.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974529444732:ios:c1cc2c6b3cd3b9fa0082f9</string>
</dict>
</plist>